.cell {
  background: darkgray;
  border: 1px solid #fff;
  line-height: 45px;
  height: 45px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;

  &:focus {
    outline: none;
  }
}

.hidden {
  background: #2e2829;
}

.hole {
  color: #fc543c;
}
