.startPageContainer {
  width: 500px;
  background-color: tomato;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
}

.label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.input {
  margin-top: 5px;
  height: 30px;
  font-size: 22px;
}

.button {
  margin-top: 5px;
  height: 35px;
  font-size: 24px;
  background-color: dodgerblue;
  color: white;
}

.button:disabled {
  margin-top: 5px;
  height: 35px;
  font-size: 24px;
  background-color: grey;
  color: black;
}

.info {
  font-size: 16px;
}
